@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

:root {
  --clr-bg: ghostwhite;
  --ff-primary: "poppins", "arial", "sans-serif";
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  padding-inline: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0 !important;
  font-weight: 400;
}

.container {
  max-width: 1000px;
  padding: 0;
}

.padding-top-page {
  padding-top: 3rem;
}

ul{
  padding: 0;
}


.showing {
  animation: showing 0.5s ease-in-out;
}

.hiding {
  animation: hiding 0.5s ease-in-out;
}

.btn-open{
  position: fixed;
  bottom: 0;
  right: 0;
  right: 20px;
  background-color: gainsboro;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;


}

@keyframes showing {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hiding {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media screen and (max-width:768px) {
  .padding-top-page {
    padding-top: 1rem;
  }
}
